<!-- CSS file of Sign Up that part inlcude in login css -->
<link rel="stylesheet" href="/css/login.css">
<div class="main">
<!-- Sign up Part -->
    <div class="login">
        <div class="img">
            <img src="/img/habit.png" alt=""><h1>Habit Tracker</h1>
        </div>
        <p>To Continue,Sign up into Habit Tracker </p>
        
        <form id="login_form" action="/user/create" method="POST">
            <label>Enter Your Name</label>
            <input type="text" name="name" placeholder="Enter Name" autocomplete="off" required>
            <label>Enter Your Email</label>
            <input type="email" name="email" placeholder="Enter Email" autocomplete="off" required>
            <label>Enter Your Password</label>
            <input type="password" name="password" placeholder="Password" autocomplete="off" required>
            <label>Enter Your confirm Password</label>
            <input type="password" name="confirm_password" placeholder="Confirm-Password" autocomplete="off" required>
            
            <button class="sign_btn" type="submit">Sign up</button>
        </form>
        <div class="login-link">
            Have an account?<a href="/user/login">Log In</a>
        </div>   
    </div>
</div>